.headermenu{
    background-color:white;
    
}
.icon{
    padding-top: 30px;
    color:red;
}
.barrapesquisa{
width: 520px !important;
padding-top: 10px;
}

/* MENU CATEGORIA */
.categoria{
    margin: 0px;
    padding:0px;
}
.catnav{
    height: 20px;
}
/* CARROSEL */
.carousel-item{
    background-color:red;
    height: 350px;
}
.carousel-img{
    width:160px !important;
}
/* CARRINHO */
.itemcarrinho{
    border: 0.5px solid Grey;
    padding: 5px;
}

/* Estilos aplicados a larguras até 480 pixels */

@media screen and (max-width: 600px) {
    .barrapesquisa{
        width: 300px !important;
       
        }
    .formadm{
        width: 300px !important;
        margin-left:20px !important;
    }
    .catnav{
        height: auto;
    }
      
}