.headermenu{
    background-color:white;
    
}
.icon{
    padding-top: 30px;
    color:red;
}
.barrapesquisa{
width: 520px !important;
padding-top: 10px;
}

/* MENU CATEGORIA */
.categoria{
    margin: 0px;
    padding:0px;
}
.catnav{
    height: 20px;
}

/* Estilos aplicados a larguras até 480 pixels */

@media screen and (max-width: 600px) {
    .barrapesquisa{
        width: 300px !important;
       
        }
    .formadm{
        width: 300px !important;
        margin-left:20px !important;
    }
      
}